.main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-layout__header {
  padding-top: 24px;
  padding-bottom: 24px;
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #E7EBF0;
  background-blend-mode: soft-light, normal;
  box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
  border-radius: 10px;
  border-radius: 8px;

  @media screen and (min-width: 768px) {
    padding: 32px;
  }
}

.main-layout__content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-layout__footer {
  margin-top: auto;
  min-height: 200px;
  padding-top: 24px;
  padding-bottom: 24px;
  background: #271928;
  color: #fff;
  box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;

  @media screen and (min-width: 768px) {
    padding: 32px;
  }
}
