ul.release-info
  li.release-info__item
    .release-info__title Artist:
    .release-info__value Linkin Park
  li.release-info__item
    .release-info__title Release:
    .release-info__value In the end
  li.release-info__item
    .release-info__title Date:
    .release-info__value 22.04.2040
  li.release-info__item
    .release-info__title Label:
    .release-info__value Rock-n-Pop
  li.release-info__item
    .release-info__title Ganre:
    .release-info__value Funk, Rock
