nav.menu
  ul.menu__list
    li.menu__item
      a.menu__link.transition-colors(href="index.html") Release page
    li.menu__item
      a.menu__link.transition-colors(href="statistic.html") Statistic page
