ul.platforms
  li.platforms__item
    a.platforms__link(href="javascript:;")
      img.platforms__icon(src="images/platforms/spotify.svg", alt="spotify music icon")
  li.platforms__item
    a.platforms__link(href="javascript:;")
      img.platforms__icon(src="images/platforms/apple.svg", alt="apple music icon")
  li.platforms__item
    a.platforms__link(href="javascript:;")
      img.platforms__icon(src="images/platforms/yandex.svg", alt="yandex music icon")
  li.platforms__item
    a.platforms__link(href="javascript:;")
      img.platforms__icon(src="images/platforms/boom.svg", alt="boom player icon")
