.playlist
  .playlist__track
    .track.transition-colors(tabindex="0")
      .track__meta
        .track__title In the end
        .track__time 05:24

  .playlist__track
    .track.track--playing(tabindex="0")
      .track__meta
        .track__title In the end
        .track__time 05:24

  .playlist__track
    .track.transition-colors(tabindex="0")
      .track__meta
        .track__title In the end
        .track__time 05:24

  .playlist__track
    .track.transition-colors(tabindex="0")
      .track__meta
        .track__title In the end
        .track__time 05:24
