section.release
  .container

    h2.release__title Linkin Park - In the end

    .row

      .col-12.col-md-6

        img.release__cover(src="images/linkinpark.jpg", alt="linkin park cover")

        .release__playlist
          include ./playlist

      .col-12.col-md-6

        .release__info
          include ./info

        .release__platforms
          include ./platforms
